In [12]:
import pandas as pd
def make_df(cols,ind):
    data={c:[str(c)+str(i) for i in ind]
         for c in cols}
    print(data)
    return pd.DataFrame(data,ind)
make_df('HIJK',range(3))

{'H': ['H0', 'H1', 'H2'], 'I': ['I0', 'I1', 'I2'], 'J': ['J0', 'J1', 'J2'], 'K': ['K0', 'K1', 'K2']}

    H   I   J   K
0  H0  I0  J0  K0
1  H1  I1  J1  K1
2  H2  I2  J2  K2

In [33]:
a=[1,2,3,4]
b=[5,6,7,0]
for a,b in zip(a,b):
    print(a+b)

6
8
10
4